USE [master]
GO
/****** Object:  Database [Calendar]    Script Date: 8/27/2021 2:35:25 PM ******/
CREATE DATABASE [Calendar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Calendar', FILENAME = N'C:\Users\ludovica.lucidi\Calendar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Calendar_log', FILENAME = N'C:\Users\ludovica.lucidi\Calendar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Calendar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Calendar]
GO
USE [Calendar]
GO
/****** Object:  Table [dbo].[Impegno]    Script Date: 8/27/2021 2:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impegno](
	[Titolo] [nvarchar](50) NOT NULL,
	[Descrizione] [nvarchar](50) NOT NULL,
	[Scadenza] [date] NOT NULL,
	[Importanza] [int] NOT NULL,
	[Flag] [bit] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Impegno] ON 

INSERT [dbo].[Impegno] ([Titolo], [Descrizione], [Scadenza], [Importanza], [Flag], [Id]) VALUES (N'Inserimento1', N'Desc', CAST(N'2021-08-27' AS Date), 1, 0, 6)
INSERT [dbo].[Impegno] ([Titolo], [Descrizione], [Scadenza], [Importanza], [Flag], [Id]) VALUES (N'Inserimento2', N'Desc', CAST(N'2021-08-27' AS Date), 2, 0, 7)
INSERT [dbo].[Impegno] ([Titolo], [Descrizione], [Scadenza], [Importanza], [Flag], [Id]) VALUES (N'Inserimento3', N'Desc', CAST(N'2021-08-27' AS Date), 3, 0, 8)
SET IDENTITY_INSERT [dbo].[Impegno] OFF
GO
USE [master]
GO
